@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
/* -----reseteo la pagina----- */
*{
    padding: 0;
    margin: 0;
}
:root{
    --SoftBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --VeryDarkBlueMainBG: hsl(217, 54%, 11%);
    --VeryDarkBlueCardBG: hsl(216, 50%, 16%);
    --VeryDarkBlueLine: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
body{
    font-size: 18px;
}

/* h1{
    color: var(--White);
    font-family: 'Outfit', sans-serif;
} */
/* ----footer----- */
.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}